<h1>Place your question to the almighty Coach 🚀</h1>

<form action="/answer">
  <label for="question" class="form-label">Ask your Coach anything</label>
  <div class="input-group">
      <div class="form-outline">
        <input class="form-control" type="text" name="question" placeholder="What is your question?">
      </div>
    <input class="btn btn-primary" type="submit" value="Ask!">
  </div>
</form>
